/* FONTS FOR PAGE:
font-family: 'Courgette', cursive;
font-family: 'PT Sans', sans-serif;
*/


* {
	font-family: 'PT Sans', sans-serif;
	font-size: 25px;

}

#logo {
	font-family: 'Courgette', cursive;
	margin-left: 500px;
	background-color: #ffffff;
}

#mainSpace {
	margin-left: 350px;
}

#dog-form{
	float: right;
}

